<h1>Welcome to rubyblog</h1>

<h4>
  <%= link_to 'Add article', 'articles/new' %>
</h4>

<br>

<table>
  <tr>
    <th>Entries</th>
  <tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article_path(article) %></td>
    </tr>
  <% end %>
</table>
