<h2>
  Title: <%= @article.title %>
</h2>

<p>
  Content: <br>
  <%= @article.text %>
</p>

<p>
  Category: <br>
  <%= Category.find(@article.category_id).name %>
</p>

<h3> Comments </h3>

<%= Comment.all.where(@article.) %>

<%# TODO: Add user comments %>
<%# TODO: Add a form to enter comments %>
